body {
  background-color: black;
  color: #FF55FF;
  font-family: monospace;
  text-align: center;
  margin: 0;
}

canvas {
  display: block;
  margin: 0 auto;
  background: black;
  image-rendering: pixelated;
  border: 2px solid #00AAAA;
}

.ui {
  margin-top: 10px;
  color: #00AAAA;
}